@import '../lib/mixins';
@import '../lib/var';
::-moz-selection {
	background: $pink;
}
::selection {
	background: $pink;
}
.my-btn {
	background: linear-gradient(90deg, #60359e 0%, #d932c5 100%);
	position: relative;
	box-shadow: 0px 4px 10px rgba(99, 56, 161, 0.4);
	border-radius: 5px;
	transition: all 0.2s ease-out;
	line-height: 30px;
	padding: 15px 30px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-size: 15px;
	font-family: $bold;
	text-transform: uppercase;
	color: #fff;
	border: none;
	overflow: hidden;
	text-decoration: none;
	span {
		position: relative;
		z-index: 2;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		text-align: center;
	}
	&:before {
		content: '';
		background: linear-gradient(90deg, #d932c5 0%, #60359e 100%);
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
		transition: all 0.2s ease-out;
	}
	&:hover {
		&:before {
			opacity: 1;
		}
	}
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	-webkit-box-shadow: 0 0 0 30px white inset !important;
}
input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	border: 2px solid #f6f6f9;
	background: #fff;
	+ .custom-input__content {
		color: #b9b9ce;
		.custom-input__text {
			color: #b9b9ce;
			font-size: 12px;
			background: #fff;
			margin-top: -25px;
		}
		.custom-input__icon {
			path {
				fill: #b9b9ce !important;
			}
		}
	}
}
.custom-input {
	label {
		position: relative;
		display: block;
	}
	&__input {
		display: block;
		width: 100%;
		height: 50px;
		background: #f6f6f9;
		border-radius: 5px;
		padding: 20px;
		padding-right: 50px;
		border: 2px solid transparent;
		transition: all 0.2s linear;
		font-family: $bold;
		font-size: 15px;
		@include max-screen(sm) {
			font-size: 14px;
		}
		&:valid,
		&:focus {
			border: 2px solid #f6f6f9;
			background: #fff;
			+ .custom-input__content {
				color: #b9b9ce;
				.custom-input__text {
					color: #b9b9ce;
					font-size: 12px;
					background: #fff;
					margin-top: -25px;
				}
				.custom-input__icon {
					path {
						fill: #b9b9ce !important;
					}
				}
			}
		}
		&[readonly] {
			color: #c6c6d7 !important;
			background: #f6f6f9 !important;
			+ .custom-input__content {
				.custom-input__text {
					color: #b9b9ce;
					font-size: 12px;
					background: #fff;
					margin-top: -25px;
				}
			}
		}
	}
	&__icon {
		@include vertical-absolute();
		right: 25px;
		display: flex;
		align-items: center;
		path {
			transition: all 0.2s linear;
		}
	}
	&__text {
		color: #b9b9ce;
		position: absolute;
		left: 15px;
		top: 50%;
		transform: translateY(-50%);
		padding: 0 5px;
		transition: all 0.2s linear;
		font-size: 14px;
	}
}
.has-content{
	.custom-input__input{
		border: 2px solid #f6f6f9;
		background: #fff;
		+ .custom-input__content {
			color: #b9b9ce;
			.custom-input__text {
				color: #b9b9ce;
				font-size: 12px;
				background: #fff;
				margin-top: -25px;
			}
			.custom-input__icon {
				path {
					fill: #b9b9ce !important;
				}
			}
		}
	}
}
.error {
	.error-msg {
		display: block;
	}
	.custom-input__input {
		border: 2px solid rgba(227, 133, 184, 0.2);
		background: #fff;
		+ .custom-input__content {
			color: $pink;
			.custom-input__text {
				color: $pink;
				font-size: 12px;
				background: #fff;
				margin-top: -25px;
			}
			.custom-input__icon {
				path {
					fill: $pink !important;
				}
			}
		}
	}
}
.error-msg {
	display: none;
	background: $pink;
	border-radius: 5px;
	padding: 5px 35px;
	padding-right: 15px;
	line-height: 20px;
	font-size: 12px;
	position: relative;
	min-height: 30px;
	margin: 10px 0;
	color: #fff;
	font-family: $medium;
	&:before {
		content: '';
		width: 14px;
		height: 14px;
		background-color: transparent;
		background-image: url('assets/img/alert-icon.svg');
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
		@include vertical-absolute();
		left: 10px;
	}
}
.pass-toggle {
	width: 22px;
	height: 22px;
	border: none;
	padding: 0;
	background-color: transparent;
	background-image: url('assets/img/pass-eye.svg');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	&.active {
		background-image: url('assets/img/pass-eye-opened.svg');
	}
}
.checkbox {
	label {
		display: block;
		cursor: pointer;
	}
	input {
		display: none;
		&:checked {
			+ .checkbox__content {
				.checkbox__box {
					background-color: #6237a0;
					&:before {
						opacity: 1;
					}
				}
			}
		}
	}
	&__content {
		display: flex;
		align-items: flex-start;
	}
	&__box {
		background: #f6f6f9;
		border-radius: 3px;
		flex: none;
		margin-right: 10px;
		position: relative;
		width: 14px;
		height: 14px;
		border: 1px solid transparent;
		transition: all 0.1s linear;
		&:before {
			content: '';
			background-color: transparent;
			background-image: url('assets/img/checkbox-check.svg');
			background-size: 12px;
			background-position: center;
			background-repeat: no-repeat;
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			transition: all 0.1s linear;
			opacity: 0;
		}
	}
	&__text {
		font-size: 12px;
		line-height: 14px;
		color: #afb2c1;
		transition: all 0.1s linear;
		a {
			color: #afb2c1;
			font-family: $bold;
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
	}
}
.custom-link {
	font-family: $bold;
	font-size: 16px;
	padding: 0;
	color: #d932c5;
	border: none;
	background: none;
	border-bottom: 1px solid rgba(217, 50, 197, 0.4);
	text-decoration: none;
	transition: all 0.2s linear;
	&:hover {
		border-color: transparent;
	}
}
.switcher-wrap {
	display: flex;
	align-items: center;
	+ .switcher-wrap {
		margin-top: 35px;

		@include max-screen(sm) {
			margin-top: 15px;
		}
	}
	.switcher {
		flex: none;
	}
}
.link{
	border: none;
	padding: 0;
	text-decoration: underline;
	color: $pink;
	&:hover{
		text-decoration: none;
	}
}
