@import "../lib/mixins";
@import "../lib/var";
button,input{
  font-family: $base-font;
}
body{
  min-height: 100vh ;
  overflow-x: hidden;
  font-family: $base-font;
  font-size: 14px;
  line-height: 1.3;
  color: #40404E;
}
.auth-page{
  background-color: #A733B5;
  background-image: url("assets/img/auth-bg.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}
.auth-box{
  width: 450px  ;
  margin: 0 auto;
  min-height: 100vh;
  background: #FFFFFF;
  box-shadow: 0px 4px 44px rgba(0, 0, 0, 0.3);
  padding:  60px 80px;
  &__title{
    font-family: $bold;
    text-align: center;
    font-size: 33px;
    line-height: 40px;
    margin-bottom: 30px;
    &-text{
      font-family: $base-font;
      color: #B9B9CE;
      font-size: 18px;
      line-height: 22px;
    }
  }
  &__link{
    font-family: $bold;
    font-size: 16px;
  }
}
.auth-nav{
  padding-bottom: 30px;
  ul{
    display: flex;

  }
  li{
    width: 50%;

    >*{
      background: none;
      display: block;
      width: 100%;
      font-size: 14px;
      color: #C6C6D7;
      border: none;
      padding: 0;
      padding-bottom: 15px;
      border-bottom: 2px solid #BEB8CF;
      transition: all .2s linear;
      &:hover{
        color: $purple;
      }
    }

    &.active{
      >*{
        color: $purple;
        font-family: $bold;
        border-color: $purple;
      }
    }
  }
}