@import "../lib/mixins";
@import "../lib/var";

/* width */
::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #D932C5 ;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #D932C5 ;
}

*{
  outline: none !important;
}
button, input {
  font-family: $base-font;
}
.row{
  margin:  0 -10px;
  >*{
    padding:  0 10px;
    padding-bottom: 20px;
  }
}

img {
  max-width: 100%;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
  font-family: $base-font;
  font-size: 14px;
  line-height: 1.3;
  color: #40404E;
  background-color: #F6F5F9;
  background-image: url("assets/img/bg-grey.jpg");
  background-size: cover;
  background-position: top right;
  background-repeat: no-repeat;
}

.main-wrapper {
  padding-left: 280px;
  padding-top: 50px;
  padding-right: 50px;
  @include max-screen(lg){
    padding: 0 20px;
    padding-bottom: 70px;
  }
}

.main-content {
  position: relative;
  @include max-screen(lg){
    padding-top: 80px;
  }
}

.logo {
  width: 170px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;

  img {

  }
}

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 230px;
  background: #fff;
  min-height: 100vh;

  @include max-screen(lg){
    top: auto;
    bottom: 0;
    width: 100%;
    height: 50px;
    min-height: initial;
    z-index: 9999;
    .logo{
      display: none;
    }
  }

  &__content {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    overflow-y: auto;
    padding-top: 15px;
    @include max-screen(lg){
      padding: 0;
      min-height: initial;
      overflow: visible;
    }
  }

  &__nav {
    margin-top: 30px;
    padding: 0 40px;

    @include max-screen(lg){
      padding:  0;
      margin: 0;
      border-top: 1px solid #F6F6F9;
    }
    ul {
      @include max-screen(lg){
        display: flex;
        align-items: center;
      }
      li {
        border-top: 1px solid #F6F6F9;
        @include max-screen(lg){
          border-top: none;
          flex: 1;
        }
        +li{
          @include max-screen(lg){
            border-left: 1px solid #F6F6F9;
          }
        }
        > * {
          opacity: .2;
          font-family: $bold;
          font-size: 15px;
          color: #40404E;
          height: 70px;
          display: flex;
          align-items: center;
          position: relative;
          padding-left: 35px;
          text-decoration: none;
          @include max-screen(lg){
            height: 50px;
            justify-content: center;
            padding: 0;
          }
          @include max-screen(sm){
            font-size: 0;
          }

          img {
            @include vertical-absolute();
            left: 5px;
            @include max-screen(lg){
              @include cancel-absolute();
              position: relative;
              margin-right: 10px;
            }
            @include max-screen(sm){
              margin-right: 0;
            }
          }
        }

        &.active {
          > * {
            opacity: 1;
          }
        }
      }
    }
  }
}

.auth-page {
  background-color: #A733B5;
  background-image: url("assets/img/auth-bg.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.auth-box {
  width: 450px;
  margin: 0 auto;
  min-height: 100vh;
  background: #FFFFFF;
  box-shadow: 0px 4px 44px rgba(0, 0, 0, 0.3);
  padding: 60px 80px;
  @include max-screen(sm){
    max-width: 90%;
    width: 100%;
    padding: 30px 15px;
  }
  &__title {
    font-family: $bold;
    text-align: center;
    font-size: 33px;
    line-height: 40px;
    margin-bottom: 30px;
    @include max-screen(sm){
      font-size: 24px;
      line-height: 32px;
    }

    &-text {
      font-family: $base-font;
      color: #B9B9CE;
      font-size: 18px;
      line-height: 22px;
      @include max-screen(sm){
        font-size: 16px;
      }
    }
  }

  &__link {
    font-family: $bold;
    font-size: 16px;
    @include max-screen(sm){
      font-size: 14px;
    }
  }
}

.auth-nav {
  padding-bottom: 30px;

  ul {
    display: flex;

  }

  li {
    width: 50%;
    button{
      color: #C6C6D7 !important;
    }

    > * {
      background: none;
      display: block;
      width: 100%;
      font-size: 14px;
      color: #C6C6D7;
      border: none;
      padding: 0;
      padding-bottom: 15px;
      border-bottom: 2px solid #BEB8CF;
      transition: all .2s linear;

      &:hover {
        color: $purple;
      }
    }

    &.active {
      button{
        color: $purple !important;
      }
      > * {
        color: $purple;
        font-family: $bold;
        border-color: $purple;
      }
    }
  }
}

.header {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 999;
  @include max-screen(lg){
    display: flex;
    align-items: center;
    background: #fff;
    width: calc(100% + 40px);
    right: -20px;
    padding: 0 20px;
    height: 60px;
  }
}
.mobile-logo{
  width: 90px ;
  display: none;
  @include max-screen(lg){
    display: block;
  }
}
.user-short {
  display: flex;
  align-items: center;
  position: relative;

  &__icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    background: #fff;
    margin-right: 15px;
    position: relative;
    z-index: 2;
    @include max-screen(lg){
      width: 30px;
      height: 30px;
      margin-right: 10px;
    }
  }

  &__content {
    font-size: 14px;
    font-family: $medium;
    padding-right: 25px;
    position: relative;
    @include max-screen(lg){
      font-size: 12px;
      padding-right: 20px;
    }

    > a {
      position: relative;
      z-index: 2;
      color: $dark;
      text-decoration: none;
      transition: all .2s ease;

      &:hover {
        color: $pink;
      }
    }

    &:before {
      content: '';
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      width: 10px;
      height: 10px;
      background-color: transparent;
      background-image: url("assets/img/down-arrow.svg");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      transition: all .2s ease;
    }
  }

  &__drop {
    position: absolute;
    right: 0;
    top: 0;
    text-align: right;
    white-space: nowrap;
    border-top: 45px solid transparent;
    opacity: 0;
    visibility: hidden;
    filter: alpha(opacity=0);
    transition: all .2s ease;
    transform: translateY(20px);

    ul {
      background: #fff;
      border-radius: 5px;
      padding: 10px 15px;

      li {
        + li {
          border-top: 1px solid #BEB8CF;
        }

        > * {
          display: block;
          padding: 5px 0;
          text-decoration: none;
          cursor: pointer;
          color: $dark;
          transition: all .2s ease;

          &:hover {
            color: $pink;
          }
        }
      }
    }
  }

  &:hover {
    .user-short__content {
      &:before {
        transform: translateY(-50%) rotate(180deg);
      }
    }

    .user-short__drop {
      transform: translateY(0px);
      opacity: 1;
      visibility: visible;
      filter: alpha(opacity=100);
    }
  }
}

.page-title {
  font-size: 30px;
  line-height: 36px;
  font-family: $bold;
  margin-bottom: 20px;
  @include max-screen(lg){
    text-align: center;
  }
}

.box {
  padding: 25px 30px;
  background: #FFFFFF;
  border-radius: 10px;
  @include max-screen(lg){
    padding: 15px 20px;
  }
}

.dashboard {

}

.title {
  font-size: 18px;
  line-height: 22px;
  font-family: $bold;
  margin-bottom: 15px;
}

.dashboard-wallet {

  height: 145px;
  @include max-screen(sm){
    height: auto;
  }
}

.my-wallet {
  position: relative;
  display: flex;
  .custom-input__input{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding-right: 20px;
    @include max-screen(sm){
      border-radius: 6px;
    }
  }
  @include max-screen(sm){
    display: block;
  }
}

.balance-statistic {
  padding-left: 20px;
  padding-right: 20px;
}

.copy-btn {
  flex: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 50px;
  background: #DED2EF;
  border-radius: 0px 5px 5px 0px;
  text-transform: uppercase;
  color: #6237A0;
  font-size: 13px;
  font-family: $bold;
  border: none;
  @include max-screen(sm){
    margin-top: 10px;
    border-radius: 6px;
  }
  img {
    margin-right: 5px;
  }
}

.content {
  display: flex;
  @include max-screen(lg){
    display: block;
  }

  &__wrap {
    flex: 1;
    padding-right: 20px;
    @include max-screen(lg){
      padding-right: 0;
    }
  }

  &__side {
    flex: none;
    width: 200px;
    @include max-screen(lg){
      width: 100%;
    }
  }
}

.balance-box {
  background: linear-gradient(90deg, #60359E 0%, #D932C5 100%);
  border-radius: 10px;
  min-height: 145px;
  color: #fff;
  padding: 25px 20px;
  overflow: hidden;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    width: 108px;
    height: 145px;
    right: 0px;
    top: 35px;
    background-color: transparent;
    background-image: url("assets/img/balance-wallet-bg.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  > * {
    position: relative;
    z-index: 2;
  }

  &__icon {
    width: 40px;
    height: 40px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }

  &__title {
    font-size: 18px;
    line-height: 22px;
    font-family: $bold;
  }

  &__value {
    font-size: 21px;
    line-height: 36px;
    font-family: $bold;
    margin-top: 15px;

    span {
      font-size: 30px;
    }
  }
}

.chart-nav {
  ul {
    display: flex;

    li {
      + li {
        margin-left: 20px;
      }

      > * {
        color: $purple;
        transition: all .2s linear;
        padding: 0;
        border: none;
        background: none;
        font-size: 13px;
        line-height: 22px;
        font-family: $bold;
        opacity: .5;
        text-transform: uppercase;
      }

      &.active {
        > * {
          opacity: 1;
        }
      }
    }
  }
}

.balance-box-wrapper {
  height: 350px;
  @include max-screen(lg){
    height: auto;
  }
}

.profile {
  display: flex;
  @include max-screen(sm){
    display: block;
  }
  &__main {
    width: 240px;
    padding-right: 30px;
    flex: none;
    @include max-screen(lg){
      padding-right: 15px;
    }
    @include max-screen(sm){
      margin: 0 auto;
      padding-right: 0;
      margin-bottom: 15px;
    }
  }

  &__info {
    padding-left: 30px;
    border-left: 1px solid #F3F0FA;
    @include max-screen(lg){
      padding-left: 15px;
    }
    @include max-screen(sm){
      padding-left: 0;
      border-left: none;
      border-top: 1px solid #F3F0FA;
      padding-top: 15px;
    }
  }
}

.profile-photo {
  padding-bottom: 30px;
  @include max-screen(sm){
    padding-bottom: 15px;
  }

  label {
    display: block;
    position: relative;
    overflow: hidden;
    width: 100%;
    border-radius: 5px;
    height: 210px;
    cursor: pointer;

    &:before {
      content: '';
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border: 1px solid rgba(250, 250, 250, 0.3);
      background-color: rgba(0, 0, 0, 0.3);
      background-image: url("assets/img/camera-icon.svg");
      background-size: 14px;
      background-position: center;
      background-repeat: no-repeat;
      position: absolute;
      left: 10px;
      top: 10px;
      opacity: .3;
      transition: all .2s linear;
    }

    &:hover {
      &:before {
        border-color: #fff;
        opacity: 1;
      }
    }
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__input {
    display: none;
  }
}

.switcher {
  label {
    cursor: pointer;
    display: block;
  }

  input {
    display: none;

    &:checked {
      + .switcher__box {
        &:after {
          opacity: 1;
        }

        &:before {
          transform: translateY(-50%) translateX(22px);
        }
      }
    }
  }

  &__box {
    width: 45px;
    height: 25px;
    background: #EDEDF4;
    border-radius: 100px;
    position: relative;
    display: block;
    overflow: hidden;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: all .2s linear;
      background: linear-gradient(90deg, #60359E 0%, #D932C5 100%);
    }

    &:before {
      transition: all .2s linear;
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      background: #FFFFFF;
      width: 19px;
      height: 19px;
      border-radius: 50%;
      transform: translateY(-50%) translateX(3px);
      z-index: 10;
    }
  }
}

.safety {
  display: flex;
  align-items: center;

  .title {
    span {
      font-family: $base-font;
      font-size: 13px;
      color: #C6C6D7;
      display: block;
    }
  }
}
.send-wallet-wrapper{
  height: 180px;
  @include max-screen(sm){
    height: auto;
  }
}
.amount{
  display: flex;
  align-items: center;
  @include max-screen(sm){
    display: block;
  }
  .custom-input{
    width: 170px;
    flex: none;
    margin-right: 20px;
    @include max-screen(sm){
      margin-right: 0;
      width: 100%;
    }
  }
  .my-btn{
    width: 170px;
    margin-left: auto;
    @include max-screen(sm){
      width: 100%;
    }
  }
  &__info{
    font-size: 13px;
    line-height: 16px;
    color: #B9B9CE;
    @include max-screen(sm){
      margin: 15px 0;
      text-align: center;
    }
    span{
      color: #40404E;
      font-family: $bold;
      font-size: 15px;
      display: block;
      margin-bottom: 5px;
    }
  }
}
.custom-table{
  font-size: 13px;
  line-height: 22px;
  height: calc(100vh - 420px);
  overflow-y: auto;
  @include max-screen(sm){
    overflow: auto;
  }
  table{
    width: 100%;
    @include max-screen(sm){
      width: 1200px;
    }
  }
  td{
    vertical-align: middle;
  }
  thead{
    td{
      font-size: 12px;
      color: #C6C6D7;
      padding-bottom: 10px;
    }
  }
  tbody{
    td{
      height: 40px;
      border-top: 1px solid #F3F0FA;

      p{
        &.failed{
          color: #DD63A5;
        }
        &.success{
          color: #72DD69;
        }
        &.pending{

        }
      }
    }
  }
}
.wallet-address{
  font-family: $bold;
  color: #40404E;
}
.amount-value{
  font-family: $bold;
  &.positive{
    color: #72DD69;
  }
  &.negative{
    color: #DD63A5;
  }
}
.page-404{
  padding-top: 80px;
  text-align: center;
  @include max-screen(sm){
    padding-top: 0;
  }
  &__img{
    margin-bottom: 20px;
  }
  &__title{
    font-size: 33px;
    line-height: 40px;
    font-family: $bold;
    margin-bottom: 20px;
    @include max-screen(sm){
      font-size: 24px;
      line-height: 32px;
    }
  }
  &__text{
    color: #B9B9CE;
    font-size: 24px;
    text-align: center;
    @include max-screen(sm){
      font-size: 18px;
    }
  }
}

.steps{
  display: flex;
  justify-content: center;
  .step{
    position: relative;

    +.step{
      margin-left: 30px;
      &:before{
        content: '';
        width: 30px;
        height: 3px;
        background: #F6F6F9;
        position: absolute;
        left: -30px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
    >*{
      font-family: $bold;
      font-size: 15px;
      color: #6237A0;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background: #FFFFFF;
      border: 3px solid #F6F6F9;
      cursor: pointer;
      position: relative;
      z-index: 2;
    }
    &.active{
      >*{
        color: #fff;
        background: #D932C5;
        border-color: #D932C5;
      }
    }
    &.success{
      >*{
        border-color: #6237A0;
        font-size: 0;
        background-color: #6237A0;
        background-image: url("assets/img/step-check.svg");
        background-size: 16px;
        background-position: center;
        background-repeat: no-repeat;
      }
    }
  }
}



.app-download{
  padding-top: 30px;
  text-align: center;
  width: 215px;
  margin: 0 auto;
  li{
    +li{
      margin-top: 20px;
    }
  }
}
.step-control{
  width: 215px;
  margin: 0 auto;
}
.stepper-footer{
  width: 215px;
  margin: 0 auto;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .custom-link{
    margin-top: 15px;
  }
}
.qr-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  &__value{
    margin: 15px 0;
  }
}
.twoFaText{
  text-align: center;
  font-size: 12px;
  line-height: 18px;
  strong{
    text-align: center;
    font-family: $bold;
  }
}
.two-fa-google-auth-form{
  &__title{
    margin-bottom: 10px;
    color: #B9B9CE;
    font-size: 13px;
    font-family: $medium;
  }
  &__wrap{
    display: flex;
  }
}
.ga-form-input{
  +.ga-form-input{
    margin-left: 5px;
  }
  flex: 1;
  input{
    display: block;
    width: 100%;
    border: none;
    background: #F6F6F9;
    border-radius: 5px;
    height: 40px;
    text-align: center;
    font-size: 16px;
    font-family: $bold;
  }
}
.google-auth{
  text-align: center;
  .two-fa-google-auth-form{
    margin:  0 -30px;
    @include max-screen(sm){
      margin: 0;
    }
    &__title{
      display: none;
    }
  }
}
.auth-alert-msg{
  background: #F6F6F9;
  border-radius: 5px;
  padding: 25px;
  text-align: center;
  margin-top: 30px;
  img{
    position: relative;
    top: 0;
    margin-top: -50px;
    margin-bottom: 20px;
  }

  font-size: 12px;
  strong{
    font-family: $bold;
    display: block;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 5px;
  }
}
.popup-result{
  text-align: center;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  .my-btn{
    width: 150px;
    margin-top: 25px;
  }
}
.chart-controls{
  display: flex;
  flex-direction: column;
  align-items: center;
  li{
    +li{
      margin-top: 15px;
    }
    >*{
      cursor: pointer;
      position: relative;
      padding-left: 25px;
      color: #C6C6D7;
      font-size: 11px;
      span{
        border-radius: 100px;
        position: absolute;
        left: 0;
        top: 5px;
        width: 15px;
        height: 4px;
        display: block;
      }
      strong{
        display: block;
        font-family: $bold;
        color: #40404E;
        font-size: 14px;
      }
    }
  }
}
.copy-result{
  display: flex;
  align-items: center;
}
.tooltip-result{
  position: absolute;
  top: calc(100% + 15px);
  right: 0;
  background: #40404E;
  border-radius: 5px;
  padding: 15px 20px;
  white-space: nowrap;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  z-index: 100;
  display: none;
  &:before{
    content: '';
    @include horizontal-absolute();
    top: -10px;
    width: 0;
    height: 0;

    border-style: solid;
    border-width: 0 7px 10px 7px;
    border-color: transparent transparent #40404E transparent;

  }
  &.active{
    display: block;
  }
}
